.offer {
  background: var(--light);
  max-width: 980px;
  margin: 0 auto;
}

.carsTitle {
  font-size: 36px;
  font-weight: 900;
  color: var(--primaryColor);
  text-align: center;
  padding: 20px 0;
}

.carsDisplay {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 18px;
}

.carBox {
  position: relative;
  width: 192px;
  height: 150px;
  background: #d9d9d9;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.carName {
  position: absolute;
  top: 20px;
  font-size: 32px;
}

.carPhoto {
  width: 180px;
  position: absolute;
  top: 50px;
}

.active {
  background: var(--secondaryColor);
}

.carHighlight {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.photoHighlight {
  width: 290px;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slideInAnimation {
  animation: slideInRight 0.5s ease;
}

.carSpecs {
  margin-top: -20px;
  width: 290px;
  border-top: 2px solid var(--secondaryColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}

.specsName {
  margin-top: 10px;
  font-size: 32px;
  text-align: center;
}

.specsBox {
  width: 115px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
  border-radius: 10px;
  border: 2px solid var(--secondaryColor);
}

.specsGrid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}

.specsBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background: var(--secondaryColor);
  border: none;
  color: var(--light);
  width: 86px;
  height: 34px;
  border-radius: 10px;
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .carsDisplay {
    flex-direction: row;
    gap: 10px;
  }
  .carBox {
    margin: 0 auto;
    width: 170px;
    height: 150px;
  }

  .carPhoto {
    width: 160px;
    top: 60px;
  }
  .audiPhoto {
    top: 54px;
  }
  .carHighlight {
    margin: 40px 0;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
  }
  .carSpecs {
    border-top: none;
    border-left: 2px solid var(--secondaryColor);
  }
  .photoHighlight {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .carsTitle {
    font-size: 48px;
  }
  .carBox {
    width: 210px;
    height: 160px;
  }
  .carSpecs {
    justify-content: center;
  }

  .carPhoto {
    width: 190px;
    top: 58px;
  }
  .audiPhoto {
    top: 52px;
  }
  .photoHighlight {
    width: 600px;
  }
  .carHighlight {
    margin: 40px auto;
  }
  .specsName {
    font-size: 42px;
  }
  .specsBtn {
    cursor: pointer;
    transition: background 0.3s linear;
  }
  .specsBtn:hover {
    background: var(--dark);
  }
}
