.reviewsTitle {
  font-size: 36px;
  line-height: 83%;
  padding: 20px 0;
  text-align: center;
}

.reviewsSub {
  font-size: 15px;
  text-align: center;
  margin-top: -4px;
  color: var(--secondaryColor);
}

.reviewContainer {
  width: 300px;
  margin: 20px auto;
}

@media screen and (min-width: 768px) {
  .reviewContainer {
    width: 680px;
  }
}

@media screen and (min-width: 1024px) {
  .reviewContainer {
    width: 980px;
  }
}
