.contactSection {
  width: 100%;
  height: 360px;
  background: var(--primaryColor);
}

.contactContainer {
  position: relative;
  margin: 0 auto;
  width: 310px;
  margin-bottom: 150px;
}

.contactTitle {
  text-align: center;
  padding: 20px 0;
  font-size: 36px;
  color: var(--secondaryColor);
}

.contactTextbox {
  margin-right: 2px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 18px;
}

.contactAddress,
.contactPhone {
  font-size: 14px;
  width: 160px;
  color: var(--light);
  font-weight: 400;
  text-align: center;
}

.contactEmail {
  font-size: 12px;
  width: 180px;
  color: var(--light);
  font-weight: 400;
  text-align: center;
  line-height: 140%;
  margin-right: 15px;
}

.contactPhoto {
  position: absolute;
  top: 70px;
  left: -170px;
  width: 400px;
}

@media screen and (min-width: 768px) {
  .contactSection {
    height: 380px;
  }
  .contactContainer {
    width: 680px;
    margin-top: 150px;
  }
  .contactTitle {
    text-align: right;
    font-size: 48px;
  }
  .contactPhoto {
    top: -110px;
    left: -50px;
    width: 500px;
  }
  .contactTextbox {
    margin-right: 60px;
  }
  .contactEmail {
    width: 225px;
    font-size: 12px;
    margin-right: -35px;
    text-align: center;
    padding: 0;
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .contactSection {
    height: 420px;
  }
  .contactContainer {
    width: 980px;
    margin-top: 270px;
  }
  .contactTitle {
    margin-right: 124px;
  }
  .contactPhoto {
    top: -250px;
    left: -10px;
    width: 650px;
  }
  .contactTextbox {
    margin-right: 80px;
  }
  .contactEmail {
    font-size: 20px;
    margin-right: -5px;
    width: 400px;
    text-align: center;
  }
  .contactAddress,
  .contactPhone {
    font-size: 20px;
    width: 400px;
  }
}
